.table{
    background-color: #E08E79;
    border-radius: 10px;
    border-style: solid;
    border-color: #774F38;
    color: #774F38;
}
.table tr td{
    text-align: center;
}
.table tr td img{
    width: 100px;
    height: 100px;
}

.table tr td input{
    width: 300px;
    text-align: center;
    border-radius: 30px;
    border-style: solid;
    border-color: #774F38;
    background-color: #ECE5CE;
}

.table tr td button{
    width: 150px;
    text-align: center;
    border-radius: 30px;
    border-style: solid;
    border-color: #774F38;
    background-color: #ECE5CE;
    color: #774F38;
}

.table tr td button:hover{
    cursor: Pointer;
    background-color:#E08E79;
}

.table tr td a{
    text-align: center;
    color: #774F38;
}

#email{
    width: 185px;
}