main{
margin: 20px 0;
padding: 0px;
}
.menu{
    width: 100%;
    height: 30px;
    background-color: #F1D4AF;
    font-family: fantasy;
    border-radius: 30px;
}

.menu a{
    margin-left: 40px;
    padding: 5;
    height: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #774F38;
    border-radius: 30px;

}

.menu img{
    width: 30px;
    height: 30px;
}

.menu a:hover{
    background-color:#E08E79;
}

.menu ul{
    list-style: none;
    position: relative;
}

.menu ul li{
    width: max-content;
    float: left;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu ul li input{
    margin-left: 40px;
    width: 500px;
    height: 30px;
    text-align: center;
    background-color: #ECE5CE;
    color: #774F38;
    border-style: solid;
    border-color: #E08E79;
    border-radius: 30px;
}
.menu ul li button{
    margin-left: -30px;
    margin-right: 140px;
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: #E08E79;
    border-style: solid;
    border-color: #774F38;
    image-resolution: 30px;
    border-radius: 30px;
}

.menu ul li button:hover{
    cursor: Pointer;
    background-color:#774F38;
}

.menu ul ul{
    position: absolute;
    visibility: hidden;
}

.menu ul ul li{
    float: none;
}

.menu ul ul li a{
    margin-left: 0;
    background-color: #ECE5CE;
}

