body{
    width: 100%;
    height: 100%;
}

.centralizar {
    font-style: initial;
    margin: auto;
    background: #D09549;
    padding: 20px;
    border-radius: 10px;
}
#tdBoll{
    font-size: 12px;
}
#bCadastrar {
    color:white;
    background: #BA6230;
    border: initial;
    border-radius: 10px;
}

#bCancelar {
    color:white;
    background: #BA6230;
    border: initial;
    border-radius: 10px;
}
#bEntrar {
    color:white;
    background: #BA6230;
    border: initial;
    border-radius: 10px;
}
#aPagina {
    color:black;
    
}